@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Microsoft YaHei", "PingFang SC", "Noto Sans SC", sans-serif;
  @apply bg-gray-50 text-gray-800;
}

#root {
  min-height: 100vh;
}
